<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1><%= title %></h1>
    
    <ul class="listado">
      <% books.forEach(book => { %>
        <li class="listado-item">
          <a href="/libro/<%= book.id %>">
            <%= book.titulo %>
          </a>
        </li>
      <% }) %>
    </ul>

    <!--
      La imagen está dentro de /public/images pero se renderiza sin el /public
    <img src="/images/gatito.jpg" alt="Gatito"> -->

  </body>
</html>
