<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= book.titulo%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
<%- include('../partials/nav') %>

<h1>Has entrado al libro <%= book.titulo %> - <%= book.autor.nombreCompleto%></h1>
<p><%= book.precio %></p>
<img src="<%= book.portada %>" alt="">
  </body>
</html>
